.u-center-text {
  text-align: center;
}

.u-margin-botton-xs {
  margin-bottom: 2rem;
}

.u-margin-botton-sm {
  margin-bottom: 4rem;
}

.u-margin-botton-md {
  margin-bottom: 6rem;
}

.u-margin-botton-lg {
  margin-bottom: 8rem;
}
