.bg-video {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  &__content {
    height: 100%;
    width: 100%;
    opacity: 0.15;
    object-fit: cover;
  }
}
