.composition {
  position: relative;

  &__photo {
    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem 0 rgba($color-black, 0.4);
    transition: all 0.2s;
    border-radius: 0.2rem;
    z-index: 2;
    outline-offset: 1.5rem;

    &--p1 {
      left: 0;
      top: -2rem;
    }

    &--p2 {
      right: 0;
      top: 2rem;
    }

    &--p3 {
      left: 20%;
      top: 10rem;
    }

    &:hover {
      box-shadow: 0 2.5rem 4rem 0 rgba($color-black, 0.4);
      z-index: 5;
      transform: scale(1.05) translateY(-0.5rem);
      outline: 1rem solid $color-primary;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
