.homes {
  color: $color-secondary;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
  margin: 10rem 0;

  .home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.5rem;

    &__img {
      width: 100%;
      grid-area: 1 / 1 / 2 / span 2;
      z-index: 1;
    }

    &__like {
      grid-area: 1 / 2 / 2 / 3;
      fill: $color-primary;
      z-index: 2;
      height: 2.5rem;
      width: 2.5rem;
      justify-self: end;
      margin: 1rem;
    }

    &__name {
      grid-area: 1 / 1 / 2 / -1;
      justify-self: center;
      align-self: last baseline;
      transform: translateY(50%);
      z-index: 3;
      padding: 1.25rem;
      background-color: $color-secondary;
      color: $color-grey-light-1;
      width: 80%;
    }

    &__location,
    &__rooms {
      margin-top: 2.5rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
      font-size: 1.5rem;
      margin-left: 2rem;
      display: flex;
      align-items: center;

      svg {
        fill: $color-primary;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
      }
    }

    &__btn {
      grid-column: 1 / 3;
    }
  }
}
