@use "base";

%heading {
  font-family: base.$font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: base.$color-grey-light-1;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-style: italic;
  font-size: 4rem;
  line-height: 1;

  &--light {
    color: base.$color-grey-light-1;
  }

  &--dark {
    color: base.$color-grey-dark-1;
  }
}

.heading-3 {
  @extend %heading;
  color: base.$color-primary;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: base.$color-grey-light-1;
  }

  &--dark {
    color: base.$color-grey-dark-1;
  }
}

.heading-5 {
  @extend %heading;
  font-size: 1.6rem;
  text-align: center;
}

.btn {
  color: base.$color-grey-light-1;
  padding: 1.5rem 2rem;
  text-transform: uppercase;
  background-color: base.$color-primary;
  border-radius: 0;
  border: none;
  font-family: base.$font-display;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.5rem;

  &:hover {
    background-color: base.$color-primary-dark;
  }
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 4rem;
}

.mb-xl {
  margin-bottom: 8rem;
}
